<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="rtc2git" sequenceNumber="87">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.104.2.v20160128-0900"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="4.3.1.201605051710-r"/>
<repository location="http://download.eclipse.org/egit/updates-4.3.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.team.scm.client.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="com.ibm.teamp.filesystem.client.rtc.feature.feature.group" version="4.0.1200.v20151106_0300"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.team.connector.scm.cc.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.team.enterprise.automation.common.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.deployment.client.feature.feature.group" version="3.1.800.v20151106_0300"/>
<unit id="com.ibm.teamz.common.feature.feature.group" version="1.0.1000.v20151106_0300"/>
<unit id="com.ibm.teamz.buildablesubset.feature.common.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.teamp.metadata.query.ui.feature.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.deployment.ui.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.scm.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.teamz.build.ant.zos.feature.feature.group" version="1.0.700.v20151106_0300"/>
<unit id="com.ibm.team.scm.svn.ide.rtc.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.definitions.ui.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.team.process.client.jfs.feature.feature.group" version="1.2.2000.v20150716_0248"/>
<unit id="com.ibm.team.enterprise.zos.mapping.feature.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="com.ibm.team.concert.feature.feature.group" version="3.1.1200.v20151110_0208"/>
<unit id="com.ibm.team.enterprise.zos.systemdefinition.feature.toolkit.feature.group" version="1.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.foundation.common.jfs.feature.feature.group" version="1.1.2000.v20151009_1716"/>
<unit id="com.ibm.team.enterprise.feed.ui.feature.feature.group" version="1.0.200.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.systemdefinition.feature.ui.feature.group" version="1.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.automation.ui.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.team.enterprise.metadata.query.common.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.rational.clearquest.cqjni.rtc.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.platform.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.team.tpt.common.rtc.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="com.ibm.rational.connector.cq.ide.rtc.feature.feature.group" version="3.0.1300.v20151106_0300"/>
<unit id="com.ibm.team.process.rcp.jfs.feature.feature.group" version="1.2.2000.v20150908_1707"/>
<unit id="com.ibm.teamz.dependencyset.feature.client.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.apt.setup.junit.rtc.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.tpt.client.rtc.feature.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.teamp.dependencyset.feature.common.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.rdf.query.common.feature.feature.group" version="3.1.800.v20151106_0300"/>
<unit id="com.ibm.team.rtc.client.feature.feature.group" version="4.5.400.RTC-I20151109-2045"/>
<unit id="com.ibm.team.calm.foundation.rcp.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.apache.log4j.jfs.feature.feature.group" version="1.0.1100.v20120901_0511"/>
<unit id="com.ibm.team.workitem.ide.rtc.feature.feature.group" version="3.1.1300.v20151106_0300"/>
<unit id="com.ibm.team.connector.common.rtc.feature.feature.group" version="3.1.700.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.metadata.collection.ide.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.promotion.feature.common.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.ibmi.systemdefinition.feature.common.feature.group" version="3.5.900.v20151106_0300"/>
<unit id="com.ibm.team.repository.client.jfs.feature.feature.group" version="1.1.2000.v20150905_0110"/>
<unit id="com.ibm.team.apt.common.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.scd.client.feature.feature.group" version="1.0.0.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.build.buildmap.client.feature.feature.group" version="1.0.100.v20151106_0300"/>
<unit id="com.ibm.teamz.metadata.scanner.common.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.collaboration.chat.rcp.jfs.feature.feature.group" version="1.0.3000.v20131217_0302"/>
<unit id="com.ibm.ccl.ua.wizards.feature.feature.group" version="1.2.2.v20140828_1553"/>
<unit id="com.ibm.team.enterprise.buildmap.client.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.team.filesystem.rcp.rtc.feature.feature.group" version="3.3.600.v20151106_0300"/>
<unit id="com.ibm.team.concert.uuid.root.feature.feature.group" version="4.3.400.RTC-I20151109-2045"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.6.2.v20110128-0100-4517w3122123901211"/>
<unit id="com.ibm.team.connector.client.rtc.feature.feature.group" version="3.2.1100.v20151106_0300"/>
<unit id="com.ibm.team.interop.rcp.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.team.rtc.client.win32.x86_64.patch.feature.group" version="1.0.0"/>
<unit id="com.ibm.team.filesystem.cli.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.zos.systemdefinition.feature.common.feature.group" version="1.0.1000.v20151106_0300"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.0.3.R36x_v20110601-897HFa3FWY-4iShY_u3KeYI28E6D"/>
<unit id="com.ibm.teamz.zcomponent.ui.feature.feature.group" version="1.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.process.feature.ui.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.feed.common.feature.feature.group" version="1.0.200.v20151106_0300"/>
<unit id="com.ibm.teamp.ibmi.metadata.collection.client.feature.feature.group" version="3.1.800.v20151106_0300"/>
<unit id="net.oauth.jfs.feature.feature.group" version="1.0.3000.v20131217_0302"/>
<unit id="com.ibm.teamz.metadata.query.ui.feature.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="com.ibm.team.build.setup.junit.rtc.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.ccl.common.splash.feature.feature.group" version="1.2.1.v20140205_1813"/>
<unit id="com.ibm.team.enterprise.scd.ide.ui.feature.feature.group" version="1.0.0.v20151106_0300"/>
<unit id="com.ibm.team.apt.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.rational.common.welcome.doc.feature.feature.group" version="7.6.0.v20130303_1747"/>
<unit id="com.ibm.team.process.definitions.ide.rtc.feature.feature.group" version="3.1.600.v20151106_0300"/>
<unit id="com.ibm.teamz.buildmap.feature.client.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.metadata.collection.common.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.teamp.metadata.util.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.systemdefinition.feature.common.feature.group" version="3.5.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.scd.common.feature.feature.group" version="1.0.0.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.common.ui.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.filesystem.client.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="com.ibm.etools.iseries.projects.core.feature.group" version="8.5.0.v20120502_2010"/>
<unit id="net.jazz.ajax.jfs.feature.feature.group" version="6.0.1000.v20150928_1717"/>
<unit id="com.ibm.team.interop.common.rtc.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.build.buildmap.common.feature.feature.group" version="1.0.100.v20151106_0300"/>
<unit id="com.ibm.teamz.dsdef.feature.common.feature.group" version="1.1.900.v20151106_0300"/>
<unit id="com.ibm.team.workitem.setup.junit.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.process.definitions.ide.rtc.feature.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="com.ibm.team.workitem.client.rtc.feature.feature.group" version="3.1.1300.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.build.feature.ui.feature.group" version="1.2.900.v20151106_0300"/>
<unit id="com.ibm.team.reports.common.rtc.feature.feature.group" version="3.1.1200.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.ibmi.systemdefinition.feature.toolkit.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="com.hp.hpl.jena.rdf.feature.feature.group" version="1.1.2000.v20150912_0238"/>
<unit id="com.ibm.team.enterprise.dependencyset.feature.common.feature.group" version="1.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.dependency.util.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.scm.svn.common.rtc.feature.feature.group" version="3.1.900.v20151106_0300"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.2.R36x_v20110125-7N7K7bF8zk1BAKMh0iz0t94miBLY"/>
<unit id="com.ibm.team.concert.uuid" version="4.3.400.RTC-I20151109-2045"/>
<unit id="com.ibm.team.interop.client.rtc.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.common.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="com.ibm.team.workitem.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.etools.iseries.toolbox.feature.group" version="8.5.1.v20121025_2130"/>
<unit id="com.ibm.team.scm.svn.client.rtc.feature.feature.group" version="3.1.600.v20151106_0300"/>
<unit id="com.ibm.teamz.supa.server.common.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.jazz.reports.ide.ui.cshelp.feature.feature.group" version="3.0.1.v20151103_1749"/>
<unit id="com.ibm.team.filesystem.common.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.rdf.query.client.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.workitem.common.rtc.feature.feature.group" version="3.2.500.v20151106_0300"/>
<unit id="com.ibm.team.scm.admin.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="org.eclipse.gef.feature.group" version="3.6.2.v20110128-0100-777B381A4Bz06565376E32322"/>
<unit id="com.ibm.ut.ic.server.feature.feature.group" version="1.2.1.v20150108_1712"/>
<unit id="com.ibm.teamp.logging.rtc.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.rtc.common.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.team.process.common.jfs.feature.feature.group" version="1.2.2000.v20150924_0506"/>
<unit id="com.ibm.teamp.aix.metadata.collection.client.feature.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="com.ibm.team.workitem.java.common.rtc.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.promotion.feature.client.feature.group" version="3.1.900.v20151106_0300"/>
<unit id="com.ibm.help.common.rational.remote.feature.feature.group" version="7.6.0.v20151012_1318"/>
<unit id="com.ibm.team.enterprise.zos.build.feature.ui.feature.group" version="1.0.600.v20151106_0300"/>
<unit id="com.ibm.team.build.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.team.enterprise.ibmi.systemdefinition.feature.ui.feature.group" version="1.0.1300.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.buildablesubset.feature.common.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.dependencyset.feature.client.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="com.ibm.teamz.supa.client.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.tpt.ide.rtc.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.teamz.build.ant.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.ibmi.build.feature.ui.feature.group" version="1.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.build.toolkit.rtc.feature.feature.group" version="3.0.1300.v20151106_0300"/>
<unit id="com.ibm.team.connector.ide.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.resourcedef.client.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.teamz.rdf.query.feature.common.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.apache.lucene2.jfs.feature.feature.group" version="1.0.800.v20140604_2155"/>
<unit id="org.eclipse.jdt.feature.group" version="3.6.2.r362_v20101117-0800-7z8XFdXFMDjbe28Smmu4nj8KOJf7"/>
<unit id="com.ibm.team.repository.rcp.common.rtc.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.teamp.filesystem.ide.rtc.feature.feature.group" version="3.1.900.v20151106_0300"/>
<unit id="com.ibm.team.rtc.scriptengine.rtc.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.build.client.rtc.feature.feature.group" version="3.0.1300.v20151106_0300"/>
<unit id="com.ibm.team.workitem.rcp.rtc.feature.feature.group" version="3.1.1300.v20151106_0300"/>
<unit id="com.ibm.teamp.dependencyset.feature.client.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.ccl.feedreader.feature.feature.group" version="1.0.6.v20140828_1553"/>
<unit id="com.ibm.team.enterprise.deployment.common.feature.feature.group" version="3.1.800.v20151106_0300"/>
<unit id="com.ibm.ccl.welcome.bits.feature.feature.group" version="7.0.9.v20140828_1553"/>
<unit id="com.ibm.teamz.dsdef.feature.ide.feature.group" version="1.1.1100.v20151106_0300"/>
<unit id="com.ibm.team.apt.ide.server.shared.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.teamz.buildmap.feature.common.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.packaging.common.feature.feature.group" version="3.1.1200.v20151106_0300"/>
<unit id="com.ibm.teamp.scm.common.rtc.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.ccl.preferenceharvester.feature.feature.group" version="1.3.1.v20150108_1712"/>
<unit id="org.antlr.rtc.feature.feature.group" version="1.0.0.v20150318_1745"/>
<unit id="com.ibm.teamz.metadata.scanner.client.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="org.eclipse.xsd.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.3.r362_v20110302-9SAxFNSFjyBxcjoslt5elntnlIPe"/>
<unit id="com.ibm.team.repository.common.jfs.feature.feature.group" version="1.1.2000.v20151021_1850"/>
<unit id="org.eclipse.jdt.R362j7patch.feature.group" version="1.0.1"/>
<unit id="com.ibm.team.enterprise.ref.integrity.feature.feature.group" version="1.0.1000.v20151106_0300"/>
<unit id="org.eclipse.rcp.R362j7patch.feature.group" version="1.0.1"/>
<unit id="com.ibm.teamz.mapping.feature.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="org.eclipse.equinox.p2.user.ui.R362j7patch.feature.group" version="1.0.1"/>
<unit id="com.ibm.rational.connector.cq.common.rtc.feature.feature.group" version="3.0.1300.v20151106_0300"/>
<unit id="com.ibm.teamp.filesystem.common.rtc.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.teamz.build.feature.client.feature.group" version="0.7.800.v20151106_0300"/>
<unit id="com.ibm.team.collaboration.cshelp.feature.feature.group" version="3.0.1.v20150610_2213"/>
<unit id="com.ibm.team.welcome.feature.feature.group" version="3.0.1.v20151102_2120"/>
<unit id="com.ibm.teamp.scm.client.rtc.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.buildablesubset.feature.client.feature.group" version="3.1.900.v20151106_0300"/>
<unit id="com.ibm.teamz.rdf.query.feature.client.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.collaboration.jabber.rcp.rtc.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.team.apt.client.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.team.build.ide.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.build.feature.common.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.metadata.scanner.common.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.reports.client.jfs.feature.feature.group" version="1.0.3000.v20140107_0431"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="com.ibm.team.enterprise.metadata.collection.client.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.team.dev.jdojo.rtc.feature.feature.group" version="1.0.800.v20151106_0300"/>
<unit id="com.ibm.teamz.langdef.feature.common.feature.group" version="1.1.900.v20151106_0300"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="com.ibm.team.reports.ide.jfs.feature.feature.group" version="1.1.1000.v20150308_1829"/>
<unit id="com.ibm.team.dashboard.rcp.jfs.feature.feature.group" version="1.0.3000.v20131217_0302"/>
<unit id="com.ibm.teamz.metadata.feature.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="com.ibm.team.dashboard.common.jfs.feature.feature.group" version="6.0.1000.v20150810_1711"/>
<unit id="org.eclipse.pde.feature.group" version="3.6.2.r362_v20110203-7b7mFOBFET3dhRngo5VKF-wJz06p"/>
<unit id="com.ibm.team.collaboration.sametime.rcp.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.teamz.buildablesubset.feature.client.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.teamz.build.feature.ide.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.calm.foundation.common.rtc.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="com.ibm.team.scm.svn.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.team.enterprise.buildmap.common.feature.feature.group" version="3.1.700.v20151106_0300"/>
<unit id="com.ibm.rational.buildforge.common.rtc.feature.feature.group" version="3.0.1300.v20151106_0300"/>
<unit id="com.ibm.teamz.fileagent.miner.common.feature.feature.group" version="1.0.600.v20151106_0300"/>
<unit id="com.ibm.teamz.langdef.feature.ide.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="org.apache.commons.httpclient.jfs.feature.feature.group" version="1.0.1100.v20120901_0511"/>
<unit id="com.ibm.team.enterprise.resourcedef.common.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="org.eclipse.platform.R362j7patch.feature.group" version="1.0.11"/>
<unit id="com.ibm.teamz.zcomponent.feature.feature.group" version="1.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.langdef.common.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.zos.systemdefinition.feature.ui.feature.group" version="1.0.1200.v20151106_0300"/>
<unit id="com.ibm.teamz.dependencyset.feature.common.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.langdef.client.feature.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.teamz.migration.feature.ide.feature.group" version="3.0.700.v20151106_0300"/>
<unit id="com.ibm.team.process.integrations.rad.feature.feature.group" version="3.1.1000.v20150401_0028"/>
<unit id="com.ibm.teamz.langdef.feature.client.feature.group" version="1.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.connector.cq.cshelp.feature.feature.group" version="3.0.1.v20151103_1804"/>
<unit id="com.ibm.teamp.build.ide.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.teamp.ide.client.rtc.feature.feature.group" version="3.0.800.v20151106_0300"/>
<unit id="com.ibm.team.interop.ide.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="org.eclipse.help.feature.group" version="1.2.1.r362_v20101111-7e7jEVFDr6xg-MQmCa1z-AD"/>
<unit id="com.ibm.teamp.build.common.rtc.feature.feature.group" version="3.0.1100.v20151106_0300"/>
<unit id="com.ibm.team.filesystem.ide.rtc.feature.feature.group" version="3.3.600.v20151106_0300"/>
<unit id="com.ibm.team.reports.ide.rtc.feature.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.collaboration.rcp.jfs.feature.feature.group" version="1.0.2000.v20131217_0302"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="com.ibm.team.enterprise.packaging.ui.feature.feature.group" version="3.1.1200.v20151106_0300"/>
<unit id="com.ibm.ccl.ut.warcontainer.feature.feature.group" version="3.0.1.v20151109_0804"/>
<unit id="com.ibm.team.enterprise.metadata.query.ui.feature.feature.group" version="3.0.1200.v20151106_0300"/>
<unit id="org.eclipse.platform.feature.group" version="3.6.3.r362_v20110302-9gF78GsCFrIGnIGHpoPftwjnBiA8C-TZRswZYu"/>
<unit id="com.ibm.team.enterprise.promotion.feature.ui.feature.group" version="3.1.1000.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.systemdefinition.feature.client.feature.group" version="3.5.1100.v20151106_0300"/>
<unit id="com.ibm.team.build.common.rtc.feature.feature.group" version="3.1.1200.v20151106_0300"/>
<unit id="com.ibm.team.filesystem.setup.junit.rtc.feature.feature.group" version="3.0.1.v20151106_0300"/>
<unit id="com.ibm.teamz.dsdef.feature.client.feature.group" version="1.0.1200.v20151106_0300"/>
<unit id="com.ibm.team.repository.rcp.rtc.feature.feature.group" version="3.1.1100.v20151106_0300"/>
<unit id="com.ibm.team.scm.common.rtc.feature.feature.group" version="3.2.600.v20151106_0300"/>
<unit id="com.ibm.team.foundation.client.jfs.feature.feature.group" version="1.1.2000.v20150814_0104"/>
<unit id="com.ibm.team.jazzhub.client.feature.feature.group" version="1.0.600.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.packaging.client.feature.feature.group" version="3.1.900.v20151106_0300"/>
<unit id="com.ibm.team.calm.foundation.client.rtc.feature.feature.group" version="3.0.1000.v20151106_0300"/>
<unit id="com.ibm.ccl.ua.generators.sitexml.feature.feature.group" version="1.0.3.v20140828_1553"/>
<unit id="com.ibm.team.svnkit.rtc.feature.feature.group" version="1.0.500.v20151106_0300"/>
<unit id="org.apache.http.jfs.feature.feature.group" version="1.0.2000.v20150903_0106"/>
<unit id="com.ibm.team.enterprise.metadata.scanner.client.feature.feature.group" version="3.1.800.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.process.feature.common.feature.group" version="3.0.900.v20151106_0300"/>
<unit id="com.ibm.team.process.ide.jfs.feature.feature.group" version="1.2.2000.v20150702_0054"/>
<unit id="com.ibm.team.reports.common.jfs.feature.feature.group" version="1.1.1000.v20150326_0016"/>
<unit id="com.ibm.team.apt.ide.rtc.feature.feature.group" version="3.0.1400.v20151106_0300"/>
<unit id="com.ibm.team.enterprise.systemdefinition.feature.toolkit.feature.group" version="1.0.1000.v20151106_0300"/>
<repository location="jar:file:/Users/gabarmas/workspaces2/rtc2git2/RTC-Client-p2Repo-6.0.1.zip!/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
